# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment directories
venv/
env/

# Distribution/build files
build/
dist/
*.egg-info

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp